# Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
ENV/

# Environment variables
.env

# VS Code settings (optional)
.vscode/

# MacOS / Windows
.DS_Store
Thumbs.db
